
data/.DS_Store

data/activity_labels.txt

data/features_info.txt

data/features.txt

data/README.txt

data/test/Inertial Signals/body_acc_x_test.txt

data/test/Inertial Signals/body_acc_y_test.txt

data/test/Inertial Signals/body_acc_z_test.txt

data/test/Inertial Signals/body_gyro_x_test.txt

data/test/Inertial Signals/body_gyro_y_test.txt

data/test/Inertial Signals/body_gyro_z_test.txt

data/test/Inertial Signals/total_acc_x_test.txt

data/test/Inertial Signals/total_acc_y_test.txt

data/test/Inertial Signals/total_acc_z_test.txt

data/test/subject_test.txt

data/test/X_test.txt

data/test/y_test.txt

data/train/InertialSignals/body_acc_x_train.txt

data/train/InertialSignals/body_acc_y_train.txt

data/train/InertialSignals/body_acc_z_train.txt

data/train/InertialSignals/body_gyro_x_train.txt

data/train/InertialSignals/body_gyro_y_train.txt

data/train/InertialSignals/body_gyro_z_train.txt

data/train/InertialSignals/total_acc_x_train.txt

data/train/InertialSignals/total_acc_y_train.txt

data/train/InertialSignals/total_acc_z_train.txt

data/train/subject_train.txt

data/train/X_train.txt

data/train/y_train.txt

ncd.py

UCI HAR Dataset.names

bz2.txt

Stand1.txt

Stand2.txt

Walk1.txt

Walk2.txt

zlib.txt
